[Unit]
Description=Neuronos Demo Service
After=network.target

[Service]
ExecStart={{.Exec}}
Restart=always
User={{.Name}}
WorkingDirectory={{.Home}}
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target